body {
  background: #fafafa;
  font-family: $fontstack-main;
  color: $gray-dark;
  width: 960px;
  margin: 0 auto;
  h1, h2 {
    font-family: $fontstack-headers;
    text-transform: uppercase;
    color: $black;
    font-weight: normal;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
