.portfolio-section {
  font-size: .9em;
  margin: 0 auto;
  max-width: 918px;
  h2 {
    font-size: 16px;
    letter-spacing: .2em;
    color: $gray-dark;
    margin-top: 0;
    padding-top: 10px;
  }
  a {
    text-decoration: none;
  }
  img {
    width: 441px;
    &.one-third {
      width: 134px;
      padding-right: 20px;
    }
  }
  .row {
    @include clearfix();
    padding-top: 0;
    padding-bottom: 50px;
    .column-group-left {
      padding-right: 50px;
      width: 52%;
      float: left;
    }
    .column-group-right {
      width: 48%;
      float: right;
    }
  }
}
