.port-sections {
  article {
    position: relative;
    overflow: hidden;
    width: 284px;
    height: 280px;
    margin: 0 1em 3em 1em;
    float: left;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -10;
    }
    .overlay {
      margin: 0;
      padding: 0;
      background-color: hsla(0, 0%, 80%, 0);
      height: 100%;
      &:hover {
        background-color: hsla(0, 0%, 98%, .5);
        & h2 {
          color: $gray-light;
        }
        }
      }
    }
    h2 {
      font-size: 13px;
      letter-spacing: .2em;
      color: $gray-dark;
      margin-top: 0;
      padding-top: 250px;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
  }
