//variables.scss

//Typeface
$fontstack-headers: Varela Round,arial,sans-serif;
$fontstack-main: serif;

//Colors
$gray-light: #DDD;
$gray-extra-light: #F3F3F3;
$gray-dark: #777789;
$gray-extra-dark: #555;
$black: #000;
